header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-top: 89px;
    padding-bottom: 92px;
}

.header__menu {
    display: flex;
    gap: 25px;
    color: black;
    font-size: 18px;
    margin-left: 30px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 12px
}

.header__links-list-item {
    list-style: circle;
    margin-left: 20px;
}

.header__links-list-item.no-bullit {
    list-style: none;
}


.header__link {
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
}

.header__link.no_line {
    text-decoration: none;
}

.header_logo {
    position: relative;
    width: 136px;
}

.header_logo img {
    width: 100%;
    height: auto;
}

.address {
    width: 240px;
    font-style: normal;
    text-align: left;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    gap: 2px;
}

.header__address {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
}

.address_text {
    font-size: 18px;
    line-height: 24.3px;
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.address_text.line {
    text-decoration: underline;
}

.cover {
    display: flex;
    flex-direction: column;
    padding: 165px 50px 50px 50px;
    gap: 110px;
    background-image: url('../images/cover.jpg');
    color: #ffffff;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: 0;
}

.main_cover_text {
    z-index: 1;
    display: grid;
    font-size: 97px;
    font-weight: bold;
    letter-spacing: 33px;
    gap: 20px;
    text-transform: uppercase;
}

.cover__title {
    display: block;
}

.main_cover_left {
    align-self: flex-start;
}

.main_cover_center {
    justify-self: center;
    max-width: 339px;
}

.main_cover_right {
    justify-self: end;
    max-width: 387px;
}

.description {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description_subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 19px;
}


.main-button {
    border: 1px solid #fff;
    padding: 11px 32px 10px 31px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.lots {
    padding: 180px 24px 120px 24px;
}


.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 27px;
}

.lots__card {
    margin-bottom: 30px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    position: relative;
}

.lots__card-list-item {
    position: relative;
    display: flex;
    max-width: 334px;
    min-height: 596px;
}

.card__article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 596px;
    overflow: hidden;
    color: #ffffff;
    width: 334px;
}

.card_link {
    background: center / cover no-repeat;
}


.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    padding-top: 48px;
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    justify-self: center;
    text-align: left;
    line-height: 120%;
    text-decoration: underline;
    margin: 0 40px 0;
    z-index: 1;
    min-width: 254px;
}

.card__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    align-self: end;
    z-index: 1;
    line-height: 120%;
    margin: 0 40px 48px;
}

.lots__look-more-link {
    padding-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 72px;
    padding: 34px 24px 180px 24px;
}

.about__logo {
    display: flex;
    margin-left: 47px;
    padding: 64px 45.5px 62px 46.5px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.about__logo>img {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 111px;
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
    color: #000;
    line-height: 100%;
    text-transform: uppercase;
}

.about__text {
    padding-top: 109px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    word-break: normal;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0 50px 82px 50px;
}

.footer__address {
    display: flex;
    flex-direction: column;
}

.nav_footer {
    display: flex;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    justify-self: center;
}

.footer__menu-link,
.footer__menu-link_active {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: underline;
}

.footer__social-list {
    align-items: center;
}

.footer__social-list-item {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
}