header{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 50px;
    min-height: 293px;
}

.header__menu{
    display: flex;   
    gap: 20px;
    color: black;
    font-size: 18px;
}

.header__links-list{
    display: flex;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__links-list-item{
    list-style: circle;
    margin-left: 20px;
}

.header__link{
    text-decoration: underline;
}

.header_logo{
    position: relative;
    width: 148px;
    height: 105px;
}

.header_logo img {
    position: absolute;
    width: 100%;
    height: auto;
}

address{
    width:240px;
    height: 98px;
}

.header__address{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    margin-left: 185px;
    word-wrap: break-word;
}

.address{
    text-decoration: none;
}

.cover{
    display: flex;
    background-image: url('../images/cover.jpg');
    color: #ffffff;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 757px;
}

.cover_overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 0;
}

.main_cover_text{
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    gap: 18px;
    text-align: left;
    align-items: flex-start;
    text-transform: uppercase;
}

.main_cover_left{
    margin-top: 165px;
    margin-left: 50px;
}

.main_cover_center{
    text-align: center;
    margin-left: 380.5px;
}

.main_cover_right{
    text-align: right;
    margin-left: 663px;
}

.description{
    margin-top: 108px;
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
}

.description_subtitle{
    font-size: 22px;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
}

.main-button{
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: white;
    margin-left: 8%;
}

.lots {
    margin: 0 auto;
    min-width: 1052px;
    min-height: 723px;
    align-items:center;
    margin-top: 180px;
}


.lots__heading{
    margin-left: 65px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.lots__card-list{
    display: flex;
    gap: 25px;
    list-style: none;
    position: relative;
    margin-left: 24px;
    margin-top: 27px;
    margin-bottom: 33px;
}

.lots__card-list-item{
    position: relative;
    display: flex;
    width: 334px;
    height: 596px;
}

.card-link{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    width: 334px;
    height: 100%;
    position: relative;
    padding: 20px;
}

.card_type_film{
    display: block;
    background-image: url('../images/card-lot-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 334px;
    height: 596px;
    gap: 254px;
}

.card_type_book{
    background-image: url('../images/card-lot-02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 334px;
    height: 596px;
}

.card_type_picture{
    background-image: url('../images/card-lot-03.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 334px;
    height: 596px;
}

.card__title{
    padding-top: 48px;
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    justify-self: center;
    text-align: left;
    line-height: 120%;
    z-index: 2;
    text-decoration: underline;
    margin-left: 40px;
}

.card__text_film,
.card__text_book,
.card__text_picture{
    font-size: 20px;
    word-wrap: break-word;
    align-self: end;
    z-index: 2;
    line-height: 120%;
    width: 254px;
    height: 144px;
    margin-left: 40px;
}

.card__text_film{
    margin-top: 278px;
}

.card__text_book{
    margin-top: 31px;
}

.card__text_picture{
    margin-top: 129px;
}

.lots__look-more-link{
    padding-left: 65px;
    font-size: 20px;
    text-decoration: underline;
}

.about {
    display: flex;
    max-width: 1052px;
    min-height: 595px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 85px;
}

.about__column{
    display: flex;
    gap: 80px;
}

.about__logo{
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about__logo-image{
    position: relative;
    width: 250px;
    height: 250px;
    z-index: 2;
    margin-top: 10px;
}

.about__logo-image img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__text_block{
    max-width: 1000px;
    color: #000000;
    margin-top: 118px;
}

.about__title a{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
}

.about__text{
    margin-top: 100px;
    font-size: 20px;
    line-height: 120%;
}

.about__text p{
    margin: 0 0 15px 0;
    word-wrap: break-word;
}

footer{
    display: flex;
    align-items: center;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 80px;
    margin-top:20px;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 98px;
    word-wrap: break-word;
    margin-left: 10px;
    align-items: start;
}
.contacts a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    text-align: left;
}

.nav_footer{
    display: flex;
    margin-left: 8%;
}

.footer__menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.footer__menu-link,
.footer__menu-link_active{
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.footer__menu-link_active{
    text-decoration: underline;
}

.footer__social-list{
    align-items: center;
    display: flex;
    gap:50px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 18%;
}

.footer__social-list-item{
    display: flex;
    gap:50px;
    list-style: none;
}

.footer__social-icon{
    width: 48px;
    height: 48px;
    object-fit: contain;
}